# Josimar Cell - Variables de Entorno


# Nombre de la aplicación


# Nombre de la aplicación





# Modo de producción (true para producción, false para desarrollo)
VITE_PRODUCTION=false
